body {
    margin: 0;
    font-family: Arial;
    background: #f5f7fb;
    display: flex;
}

/* Sidebar */
.sidebar {
    width: 220px;
    background: white;
    padding: 20px;
    box-shadow: 2px 0 10px rgba(0,0,0,0.05);
}

.sidebar h2 {
    color: #6c63ff;
}

.sidebar button {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: none;
    background: #6c63ff;
    color: white;
    border-radius: 8px;
    cursor: pointer;
}

/* Main */
.main {
    flex: 1;
    padding: 20px;
}

.header {
    display: flex;
    justify-content: space-between;
}

.task-box {
    background: white;
    padding: 20px;
    border-radius: 12px;
    margin-top: 20px;
}

.input-section {
    display: flex;
    gap: 10px;
}

input {
    flex: 1;
    padding: 10px;
    border-radius: 8px;
    border: 1px solid #ccc;
}

.add-btn {
    background: #6c63ff;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 8px;
}

/* Tasks */
li {
    list-style: none;
    background: #f0f0f0;
    margin: 8px 0;
    padding: 10px;
    border-radius: 8px;
    display: flex;
    justify-content: space-between;
}

.completed {
    text-decoration: line-through;
    color: gray;
}

/* Right panel */
.right {
    width: 250px;
    padding: 20px;
}

.card {
    background: white;
    padding: 15px;
    border-radius: 12px;
    margin-bottom: 20px;
}
